* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4C4F3C;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
}

.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    display: none;
    border-radius: 50%;
    box-shadow: 15px 20px 20px 20px #303226;
    border: 5px solid #142A00;
    background: #4C4F3C;
}

.logo {
    height: 150px;
    display: block;
    margin: 50px auto 50px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea{
    display: block;
    width: 100%;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #142A00;
    background: #EDEDED;
    outline: none;
    margin: 20px 0;
    color: #142A00;
    font-size: 14px;
    box-shadow: 0 4px 10px #FFFFBC;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    font-weight: 600;
}

textarea::placeholder{
    text-transform: capitalize;
}

input::placeholder {
    color: #686B5A;
    opacity: 0.8;
    text-transform: capitalize;
}

input:focus {
    background-color: white;
}

.submit-btn {
    display: block;
    width: 100%;
    outline: none;
    height: 60px;
    color: #142A00;
    text-align: center;
    line-height: 20px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 20px;
    border-radius: 5px;
    background: url("../img/AJShop/bkg-gold.png");
    border: 1px solid #142A00;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25em;
    font-size: 15px;
    margin: 50px 0;
    cursor: pointer;
    font-weight: 400;
}

.submit-btn:hover {
    font-weight: 600;
}

.checkbox {
    -webkit-appearance: none;
    position: relative;
    width: 18px;
    height: 18px;
    margin-top: 10px;
    border-radius: 2px;
    background: #EDEDED;
    border: 1px solid #EDEDED;
    cursor: pointer;
}

.checkbox:hover {
    background: #8C9A7F;
    transition: 0.5s;
}

.checkbox:checked {
    background: #142A00;
    border: none;
}

.checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url("../img/AJShop/check2.png");
    background-size: contain;
    background-repeat: no-repeat;
    display: none;
}

.checkbox:checked::after {
    display: block;
}

label, .category-note {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #EDEDED;
    letter-spacing: 0.1em;
}

label a {
    color: #FFFFBC;
    font-weight: 500;
}

.link-terms {
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    opacity: 0.7;
}

.link-terms:hover {
   opacity: 1;
}

.link {
    color: #FFFFBC;
    text-align: center;
    display: block;
    border: none;
    font-weight: 600;
    opacity: 0.7;
}

.link:hover {
    opacity: 1;
    border: none;
}

.link-text {
    color: #EDEDED;
    text-align: center;
    display: block;
    font-size: 16px;
}

.alert-box {
    width: 300px;
    min-height: 450px;
    background: #4C4F3C;
    border-radius: 10px;
    box-shadow: 0 4px 20px #FFFFBC;
    border: 2px solid #8C9A7F;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5px;
    transition: 1s;
    z-index: 9;
    opacity: 0;
    pointer-events: none;
}

.alert-box.show {
    opacity: 1;
    pointer-events: all;
    top: 50%
}

.alert-img {
    display: block;
    margin: 10px auto 20px;
    height: 200px;
}

.alert-msg {
    color: #FFFFBC;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
    padding: 10px;
}

.loading-section {
    width: 100%;
    height: calc(100vh - 120px);
    background-image: url('../img/AJShop/gold-dust.gif');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-section .loading-content {
    width: 100%;
    height: calc(100vh - 120px);
    display: block;
    justify-content: center;
    align-items: center;
}

.loading-section .heading {
    text-align: center;
    color: #cbb26a;
    text-transform: uppercase;
    font-size: 100px;
    font-weight: 500;
    line-height: 200px;
    margin-top: 160px;
    -webkit-transition: color 3s;
    -moz-transition:    color 3s;
    -ms-transition:     color 3s;
    -o-transition:      color 3s;
    transition:         color 3s;
}

.loading-section .sub-heading{
    text-align: center;
    color: #cbb26a;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    padding: 5px 10vw;
    -webkit-transition: color 3s;
    -moz-transition:    color 3s;
    -ms-transition:     color 3s;
    -o-transition:      color 3s;
    transition:         color 3s;
}

.loading-section:hover .sub-heading{
    color: #FFFFBC;
}

.loading-section:hover .heading{
    color: #FFFFBC;
}




